//- includes/head.pug
head
  title clkdoc
  meta(charset='utf-8')
  meta(content='width=device-width, initial-scale=1', name='viewport')
  meta(content='Webflow', name='generator')
  link(href='css/normalize.css', rel='stylesheet', type='text/css')
  link(href='css/webflow.css', rel='stylesheet', type='text/css')
  link(href='css/um-first-project.webflow.css', rel='stylesheet', type='text/css')
  link(href='https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico', rel='shortcut icon', type='image/x-icon')
  script(src='js/init.js')
  script(src='https://code.jquery.com/jquery-3.3.1.min.js', type='text/javascript', integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=', crossorigin='anonymous')
  script(src='js/webflow.js', type='text/javascript')
