  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Document</title>
      
  </head>
  <body>
    <form id="home" name="home" method="post" action="doctor">
       <select id="insurance">
      <option value="select">select</option>
    </select>
    <button type="button">Click Me!</button>      
   </form>
      
  </body>
  </html> 
     
      
       
    